<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>歌词导出</title>
    <meta charset="UTF-8">
    {% include "./import_css.html" %}
</head>
<body>
<div id="app">
    <el-container>
        <el-main>
            <el-form ref="form" :model="form" label-width="120px">
                <el-form-item label="歌曲ID">
                    <el-input placeholder="请输入内容" v-model="form.url">
                        <el-select v-model="form.url_type" slot="prepend">
                            <el-option label="歌曲链接" value="0"></el-option>
                            <el-option label="歌单链接" value="1"></el-option>
                            <!--<el-option label="专辑链接" value="2"></el-option>-->
                            <el-option label="歌曲ID" value="3"></el-option>
                            <el-option label="歌单ID" value="4"></el-option>
                            <!--<el-option label="专辑ID" value="5"></el-option>-->
                        </el-select>
                    </el-input>
                </el-form-item>
                <el-form-item label="高级">
                    <el-collapse>
                        <el-collapse-item title="歌词导出设置">
                            <el-form-item label="命名格式">
                                <el-radio v-model="form.format" label="0">歌曲名</el-radio>
                                <el-radio v-model="form.format" label="1">歌手 - 歌曲名</el-radio>
                                <el-radio v-model="form.format" label="2">歌曲名 - 歌手</el-radio>
                            </el-form-item>
                            <el-form-item label="语言版本">
                                <el-radio v-model="form.type" label="0">原歌词</el-radio>
                                <el-radio v-model="form.type" label="1">翻译歌词</el-radio>
                                <el-radio v-model="form.type" label="2">混合歌词</el-radio>
                            </el-form-item>
                        </el-collapse-item>
                    </el-collapse>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="loadLyric()">Load</el-button>
                </el-form-item>
            </el-form>
            <el-dialog title="歌曲信息" :visible.sync="dialogTableVisible">
                <el-table :data="gridData">
                    <el-table-column label="歌曲名" prop="name" width="300"
                                     :show-overflow-tooltip="true">
                    </el-table-column>
                    <el-table-column label="操作" prop="lyric.download">
                        <template slot-scope="scope">
                            <el-button size="mini" type="primary" @click="downloadLyric(scope.row.lyric.download)"
                                       :disabled="!scope.row.lyric.available" icon="el-icon-download">
                            </el-button>
                        </template>
                        </template>
                    </el-table-column>
                </el-table>
            </el-dialog>
        </el-main>
    </el-container>
</div>

{% include "./import_js.html"%}
<style>
    .el-select .el-input {
        width: 130px;
    }
</style>
<script>
    var Main = {
        data() {
            return {
                form: {
                    url: "",
                    url_type: "0",
                    format: "0",
                    type: "0"
                },
                gridData: [],
                dialogTableVisible: false
            }
        },
        methods: {
            loadLyric() {
                let that = this;
                axios.post('/api/song/lyric', this.form)
                    .then(function (response) {
                        if (response.data.status === 0) {
                            that.gridData = [];
                            that.gridData.push(response.data.data);
                            that.dialogTableVisible = true;
                        } else {
                            that.$message.error(response.data.msg);
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            },
            downloadLyric(url) {
                window.open(url);
            }
        }
    };
    var Prods = Vue.extend(Main);
    new Prods().$mount('#app')
</script>
</body>
</html>